-r src/bulk_importer/requirements.txt
-r src/certificate_generator/requirements.txt
-r src/layer_utils/requirements.txt
-r src/provider_espressif/requirements.txt
-r src/provider_generated/requirements.txt
-r src/provider_infineon/requirements.txt
-r src/provider_microchip/requirements.txt
-r test/unit/requirements.txt
fastjsonschema==2.21.1
pyYAML==6.0.2
types-boto3==1.40.55
